/************* BASE STYLES *************/
* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; color: #364147; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #faa541; text-decoration: none; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/***************************************/
.container {
    margin: 0 auto; max-width: rem(1170);
}

section {
    display: flex;
}

.flex{
    display:flex;
}

.flex-colum{
    flex-direction: colum;
}

.flex-one{
    flex: 1;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    border: 0;
    padding: rem(6) rem(12);
    border-radius: 3px;
    line-height: 1.4;
}

.btn-default {
    color: #ffffff;
    background-color: #faa541;

}

.btn-primary{
    color: #ffffff;
    background-color: #364147;
}

.form-control {
    display: block;
    padding: rem(6) rem(12);
    border: 1px solid #a0a0a0;
    color: #8598a2;
    line-height: 1.4;
}

.text-light{
    font-size: 30px;
    color: #a0a0a0;
}

.text-secondary{
    font-size: 30px;
    color: #faa541;
}

.text-primary{
    font-size: 16px;
    color: #364147;
}

.header-nav{
    border-bottom: 1px solid #a0a0a0;
}

.brand{
    widows: rem(170);
    height: rem(85);
    margin-left: rem(-15);
    margin-right: rem(60);
}

.logo{
    max-width: 100%;
    height: auto;
}

.search-box{
    width: rem(330);
    height: rem(30);
    padding: rem(6) rem(12);
    border: 1px solid #a0a0a0
}

.search-button{
    background-color: #a0a0a0;
    color: #ffffff;
    width: rem(100);
    height: rem(30);
    border: 0;
    padding: 0;
}

.nav-list{
    padding-left: 0;
    width: rem(575);
    margin-top: rem(10);
}

.nav-list li a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.profile{
    margin-left: auto;
}

.account{
    text-align: right;
    padding: rem(15);
    color: #364147;
    font-size: 18px;
}

.account a{
    font-size: 14px;
}

.profile-pic{
    width: rem(60);
    height: rem(60);
}

.profile-pic img{
    border-radius: 100px;
    max-width: 100%;
}

.hero{
    background-image: url('../img/hero.jpg');
    height: rem(400);
    background-size: cover;
    background-position: center center;
    text-transform: uppercase;
}

.hero h1{
    position: relative;
    left: rem(-30);
}

.hero h2{
    color: #faa541;
}

.hero h1, .hero h2{
    font-size: 63px;
    font-weight: 700;
    line-height: 0.9;
}

.hero p{
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 21px;
    margin: 0 0 rem(10);
}

.banner{
    margin: rem(55) rem(15);
    width: 100%;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    padding: rem(25 0);
}

.banner img {
    width: rem(250);
}

.banner-text{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.banner-text > div:last-child{
    font-size: 16px;
    font-weight: 400;
    margin-top: rem(5);
}

.category {
    flex: 0 0 25%;
    padding: 0 rem(15);
}

.category img{
    width: 100%;
}

.category-text{
    color: #364147;
    padding: rem(30) 0;
    text-transform: uppercase;
    text-align: center;
}

.category-text > div{
    font-size: 16px;
    font-weight: 200;
    color: #faa541;
}

.category-text h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.full-banner{
    padding: 0 rem(15);
    margin: rem(50) 0;
    position: relative;
}

.full-banner:before{
    content: "";
    position: absolute;
    border: 1px solid #ffffff;
    top: rem(30);
    bottom: rem(30);
    left: rem(50);
    right: rem(50);
    z-index: 1;
}

.full-banner-image{
    flex: 0 0 58.333333%;
    background-image: url('../img/vista.jpg');
    background-size: cover;
    background-position: top center;
    min-height: rem(400);
}

.full-banner-sidebar{
    flex: 0 0 41.66667%;
    background-color: #364147;
    text-transform: uppercase;
    padding: rem(30);
    color: #ffffff;
}

.full-banner-sidebar h4{
    font-size: 40px;
    font-weight: 700;
    color: #637f94;
    font-style: italic;
    line-height: 1;
}

.full-banner-sidebar h4:after{
    content:"";
    width: rem(100);
    height: rem(1);;
    background-color: #faa541;
    margin: rem(20) auto;
    display: block;
}

.full-banner-sidebar >div:nth-of-type(1){
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}

.full-banner-sidebar > div:nth-of-type(2){
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 3px;
}

.full-banner-sidebar .btn.btn-default{
    margin-top: rem(50);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}